#favorites
  background-color rgba(white, .6)
  overflow scroll
  height 300px
  border-radius 5px
  padding 10px 20px 40px
  box-shadow (0px 2px 1px 0px rgba(0,0,0,0.15))
  &:hover
    background-color white

	.favorite-station, .icon-remove
		cursor pointer

	.icon-remove
		margin-left 10px

	#favorites-list
		list-style-type none