// 3p
@import "3p/bootstrap"
@import "3p/responsive"

// app
@import "stations"
@import "favorites"
@import "aside"

body
  background-color #ccdddd
  margin 30px

ul
    padding 0
    margin 0

h1
  font-size 80px
  line-height 80px
  color #4477cc

.hidden
  display none

.section-header
  font-size 50px
  line-height 1.6em
  margin-bottom 5px
  font-weight normal
  color #444455

#search
  height 46px
  font-size 30px
  line-height 1.2em

#search-container
  margin-bottom 30px

#content
  margin-right: 30px




