#stations
  background-color rgba(white, .6)
  overflow scroll
  height 300px
  border-radius 5px
  padding 10px 20px 40px
  box-shadow (0px 2px 1px 0px rgba(0,0,0,0.15))
  &:hover
    background-color white


  h3
    margin-bottom 0px
    font-weight normal

  .station-listing, #stations-list
    list-style-type none

	#add-text
		margin-left 2px
		font-style italic

	.add-to-favorites
		cursor pointer