<!DOCTYPE html>
<html lang="en" ng-app="CanIBike">
<head>
    <title>Can I Bike?</title>
    <meta name="viewport" content="initial-scale=0.9">
    <meta name="description" content="Check your Citibike station status in a New York minute. Save your favorites, search by intersection, and get where you need to go.">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/3p/angular.js"></script>
    <script src="/3p/underscore.js"></script>
    <script src="/main.js"></script>
</head>
    <body>
        <div ng-controller="AppController">
            <!-- Header -->
            <div class="header span12">
                <h1 id="logo">Can I Bike?</h1>
                <!-- Last updated -->
                <h5 class="muted">Last updated: <span ng-bind="lastUpdated"></span></h5>
            </div>
            <!-- Main -->
            <div class="main">

                <!-- Search -->
                <div id="search-container" class="span12">
                    <input id="search" type="text" placeholder="Search by intersection..." ng-model="search.location" class="span8"/>
                    <i class="icon-remove" ng-class="{'hidden' : !search.location}" ng-click="clearSearch()"></i>
                </div>


                <!-- Stations -->
                <div id="content" class="span8">
                    <div class="section-header">Stations</div>
                    <div id="stations">
                            <ul id="stations-list">
                                <!-- stations -->
                                <li ng-repeat="station in stationsSearched | filter : search" ng-show="station.inService">
                                    <!-- station -->
                                    <ul class="station-listing">
                                        <li><h3 ng-bind="station.location"></h3></li>
                                        <li>Bikes: <span ng-bind="station.bikes"></span></li>
                                        <li>Docks: <span ng-bind="station.docks"></span></li>
                                        <li class="add-to-favorites" ng-click="addFavorite(station)"><i class="icon-star-empty"></i><small id="add-text">Add to favorites</small></li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            <!-- Favorites -->
            <aside class="span3">
                <div class="section-header">Favorites</div>
                <div id="favorites">
                    <ul id="favorites-list">
                        <li ng-repeat="stationName in favorites">
                            <span ng-bind="stationName" class="favorite-station" ng-click="setStation(stationName)"></span>
                            <i class="icon-trash" ng-click="removeFavorite(stationName)"></i>
                        </li>
                    </ul>
                </div>
            </aside>
        </div> <!-- Container -->
    </body>
</html>
